/*---------- FONT ----------*/
$font-default: "Plus Jakarta Sans", sans-serif;
$fw-medium: 500;
$fw-bold: 700;
$fw-extra-bold: 800;

/*---------- COLOR ----------*/
$color-main-text: #13183f;
$color-secondary-text: #83869a;
$color-white: #ffffff;
$color-link: #f74780;
$color-link-hover: #ff7ac3;
$color-btn1-hover: #666ca3;

/*---------- GRADIENT COLOT ----------*/
$color-gradient-pink: #f02aa6;
$color-gradient-orange: #ff6f48;
$color-gradient-blue: #4851ff;
